@import 'tailwindcss';
/* import Konsta UI theme */
@import 'konsta/react/theme.css';

@theme {
  --color-brand-primary-page-ios-light: #fff;
  --color-brand-primary-light: #6de498;
  --color-brand-primary-DEFAULT: #4ADE80;
  --color-brand-primary-dark: #27d868;
  --font-dyne: 'Syne', sans-serif;
}
@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}
